<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="poppocLog" fileName="${sys:catalina.home}/logs/${web:contextPath}.log" append="true">
            <PatternLayout pattern="%d %-5p %c{1.} (%F:%L) - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="poppocLog"/>
        </Root>
        <Logger name="org.bitcoinj" level="warn"/>
    </Loggers>
</Configuration>